API-Led/experience/ads-mule-eservices-experience/src/main/mule/ads-mule-eservices-experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="ads-mule-gateway-experience-httpsListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="ads-mule-gateway-experience-config" raml="api/ads-mule-eservices-experience.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <global-property doc:name="Global Property" doc:id="f57d189a-6879-497d-91bb-f4919fa596fd" name="https.port" value="8082" />
	<http:request-config name="Customer_API_configuration" doc:name="HTTP Request configuration" doc:id="2d2f0149-850b-46cb-ae89-307b00e232b3" basePath="/api" >
		<http:request-connection protocol="HTTPS" host="ads-mule-customer-process.cloudhub.io" port="443" />
	</http:request-config>
	<flow name="ads-mule-gateway-experience-main">
        <http:listener config-ref="ads-mule-gateway-experience-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="setting up vars to be accessed by all the flows" >
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="client_id_magic"><![CDATA[%dw 2.0
output application/java
---
"ac4success"]]></ee:set-variable>
                <ee:set-variable variableName="client_secret_magic"><![CDATA[%dw 2.0
output application/java
---
"ac4success"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="ads-mule-gateway-experience-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ads-mule-gateway-experience-console">
        <http:listener config-ref="ads-mule-gateway-experience-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ads-mule-gateway-experience-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\customers\(customerID):application\json:ads-mule-gateway-experience-config">
		<choice doc:name="Confirm client_id and client_secret" doc:id="5118e833-e0a5-470d-b0f3-f2476af7bbbe" >
			<when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]" >
				<ee:transform doc:name="set customerID var" doc:id="f7fd4a21-73d9-444c-a5aa-3cb1a4623cae" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:variables>
						<ee:set-variable variableName="customerID"><![CDATA[attributes.uriParams.customerID default ""]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="PATCH" doc:name="Customer API - PATCH an existing Customer" doc:id="a04ee935-2e74-4404-b9ec-05153d8ae371" config-ref="Customer_API_configuration" path="/customers/{customerID}">
					<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"customerID" : vars.customerID
}]]]></http:uri-params>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="8761c1a2-db1d-42c7-a717-35b5bc1078c3" message="patch:\customers\(customerID):application\json:ads-mule-eservices-experience-config"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized" doc:id="a2c4fab9-7290-474a-adf3-174cfa8ce821" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\customers:ads-mule-gateway-experience-config">
		<choice doc:name="Confirm client_id and client_secret" doc:id="1652f084-eb7e-4ec1-9662-bd5cb61dcde5" >
			<when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]" >
				<http:request method="GET" doc:name="Customer API - GET all Customers" doc:id="8274d271-463e-437d-9106-e5af9c92b468" config-ref="Customer_API_configuration" path="/customers" >
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="0c673ea2-2110-41a9-a50f-d008fcfa85e8" message="#[message]"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized" doc:id="e6d0de37-a37e-416d-80fa-9cfe706aa4d0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\customers\(customerID):ads-mule-gateway-experience-config">
    		<choice doc:name="Confirm client_id and client_secret" >
            <when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="0a3f63ed-ed68-4020-a591-c34c16ff84dc" doc:name="set customerID var">
		            <ee:variables>
		                <ee:set-variable variableName="customerID"><![CDATA[attributes.uriParams.customerID default ""]]></ee:set-variable>
		            </ee:variables>
		        </ee:transform>
				<http:request method="GET" doc:name="Customer API - GET a customer" doc:id="7a044fab-b213-4e39-b5ec-ff903a0c91aa" config-ref="Customer_API_configuration" path="/customers/{customerID}" >
					<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"customerID" : vars.customerID
}]]]></http:uri-params>
				</http:request>
				<logger level="INFO" doc:name="Logger" doc:id="62406be8-0b3b-4663-a7b1-c50cc08793bb" message="#[message]"/>
            </when>
            <otherwise>
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Unauthorized" >
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <flow name="post:\customers:application\json:ads-mule-gateway-experience-config">
		<choice doc:name="Confirm client_id and client_secret" doc:id="81bd589f-c343-4a46-b92d-e5934179bbc7" >
			<when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]" >
				<ee:transform doc:name="Set vars" doc:id="1c043194-3874-448a-8b36-2f03ac33477b" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:variables >
						<ee:set-variable variableName="origin_request" ><![CDATA[attributes.scheme]]></ee:set-variable>
						<ee:set-variable variableName="origin_host" ><![CDATA[attributes.headers.host]]></ee:set-variable>
						<ee:set-variable variableName="customerID" ><![CDATA[%dw 2.0
output application/java
---
14782369]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<http:request method="POST" doc:name="Customer API - POST a new customer" doc:id="29406a7d-4ba8-422c-8dce-6d606073e95c" config-ref="Customer_API_configuration" path="/customers" targetValue='""'>
					<http:uri-params ><![CDATA[#[output applicaton/java
---
{
	"customerID" : vars.customerID
}]]]></http:uri-params>
				</http:request>
				<ee:transform doc:name="Transform Message" doc:id="c64ac28b-e9ef-4c80-ae94-5c0acf965543">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Location": (vars.origin_request as String) ++ "://" ++ (vars.origin_host as String) ++ "/api/customers/" ++ vars.customerID
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="162eb54d-656c-44e3-909b-4eb68454e47d" message="post:\customers:application\json:ads-mule-eservices-experience-config"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Unauthorized" doc:id="bf30d64d-00a0-41a8-b482-dec349deaa48" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\payments\(customerID):ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\payments\(customerID):ads-mule-gateway-experience-config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="c79c2174-4a6b-4e0e-ba55-756048d29646" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "customerID": 14782369,
  "cardsPayments": [
    {
      "cardData": {
        "cardHoldersName": "TXXXXX B SXXXXXX",
        "cardNumber": "XXXX XXXX XXXX 4163",
        "expirationDate": {
          "mount": 0,
          "year": 0
        },
        "verificationCode": 0,
        "paymentID": 852369
      },
      "billingAddressID": 753951
    }
  ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\payments\(customerID)\card\(paymentID):ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
                <ee:set-variable variableName="paymentID">attributes.uriParams.paymentID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\payments\(customerID)\card\(paymentID):ads-mule-gateway-experience-config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="368afaaa-bdf5-44b5-b773-051683953329" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "cardData": {
    "cardHoldersName": "TXXXXX B SXXXXXX",
    "cardNumber": "XXXX XXXX XXXX 4163",
    "expirationDate": {
      "mount": 0,
      "year": 0
    },
    "verificationCode": 0,
    "paymentID": 852369
  },
  "billingAddressID": 753951
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\payments\(customerID)\card:application\json:ads-mule-gateway-experience-config">
        <choice doc:name="Choice" >
            <when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]">
		        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d810b8a4-5f14-4516-b1b6-70a5c396696c">
		            <ee:variables>
		                <ee:set-variable variableName="customerID"><![CDATA[attributes.uriParams.customerID]]></ee:set-variable>
		            </ee:variables>
		        </ee:transform>
                <flow-ref doc:name="postPayment-subflow"  name="postPayment-subflow" />
            </when>
            <otherwise>
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Unauthorized" doc:id="5f924ad4-3711-4a11-95f1-0558a78b6d07">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="postPayment-subflow">
		<choice doc:name="Choice" doc:id="911c929f-7066-433d-b78a-c0f50126b47f" >
			<when expression="#[vars.customerID == '14782369']" >
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="4ce5f0fb-4ba9-43e6-add1-0ba9db34ed2c">
            <ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Location": (attributes.scheme as String) ++ "://" ++ (attributes.headers.host as String) ++ "/api/payments/" ++ vars.customerID ++ "/card/" ++ "852369"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
				<logger level="INFO" message="post:\payments\(customerID)\card:application\json:payment-exp-api-config" />
			</when>
			<otherwise >
				<ee:transform doc:name="Not found" doc:id="03addf22-e7f1-45ea-a9a2-3484f17731e1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    </sub-flow>
</mule>
