mulesoft/API-Led/experience/ads-mule-gateway-experience/src/main/mule/ads-mule-gateway-experience.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="ads-mule-gateway-experience-httpsListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="password" password="password" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="ads-mule-gateway-experience-config" raml="api/ads-mule-gateway-experience.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <global-property doc:name="Global Property" doc:id="f57d189a-6879-497d-91bb-f4919fa596fd" name="https.port" value="8082" />
	<flow name="ads-mule-gateway-experience-main">
        <http:listener config-ref="ads-mule-gateway-experience-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="setting up vars to be accessed by all the flows" >
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="client_id_magic"><![CDATA[%dw 2.0
output application/java
---
"ac4success"]]></ee:set-variable>
                <ee:set-variable variableName="client_secret_magic"><![CDATA[%dw 2.0
output application/java
---
"ac4success"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="ads-mule-gateway-experience-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="ads-mule-gateway-experience-console">
        <http:listener config-ref="ads-mule-gateway-experience-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="ads-mule-gateway-experience-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\customers\(customerID):application\json:ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\customers\(customerID):application\json:ads-mule-gateway-experience-config" />
    </flow>
    <flow name="get:\customers:ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    customerID: 14782369,
    name: "Thiago Santana",
    email: "thiago.santana@advanceddisposal.com",
    phone: {
      country: 1,
      area: 904,
      number: 7377900
    },
    serviceAddress: {
      country: "USA",
      state: "FL",
      city: "Ponte Vedra",
      street_address: "90 Fort Wade Road, Suite 200",
      zip: 94108
    },
    billingAddress: {
      country: "USA",
      state: "FL",
      city: "Ponte Vedra",
      street_address: "90 Fort Wade Road, Suite 200",
      zip: 94108
    },
    truxDB: "Ponte Vedra",
    truxAccountID: 987654321,
    truxSiteID: 654321,
    dynamicsID: 456789
  }, 
  {
    customerID: 369852147,
    name: "Renata Santana",
    email: "renata.santana@advanceddisposal.com",
    phone: {
      country: 1,
      area: 904,
      number: 7377900
    },
    serviceAddress: {
      country: "USA",
      state: "FL",
      city: "Ponte Vedra",
      street_address: "90 Fort Wade Road, Suite 200",
      zip: 94108
    },
    billingAddress: {
      country: "USA",
      state: "FL",
      city: "Ponte Vedra",
      street_address: "90 Fort Wade Road, Suite 200",
      zip: 94108
    },
    truxDB: "Ponte Vedra",
    truxAccountID: 987654321,
    truxSiteID: 654321,
    dynamicsID: 456789
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customerID):ads-mule-gateway-experience-config">
    		<choice doc:name="Choice" >
            <when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]">
		        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
		            <ee:variables>
		                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
		            </ee:variables>
		        </ee:transform>
                <flow-ref doc:name="getCustomer-Subflow"  name="getCustomer-Subflow" />
            </when>
            <otherwise>
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Unauthorized" >
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="getCustomer-Subflow">
    
    		<choice doc:name="Choice" >
            <when expression="#[vars.customerID == '14782369']">
				        
		        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2500f100-c797-4582-9426-59627b03a6cc">
		            <ee:message>
		                <ee:set-payload><![CDATA[%dw 2.0
		output application/json
		---
		{
		  customerID: 14782369,
		  name: "Thiago Santana",
		  email: "thiago.santana@advanceddisposal.com",
		  phone: {
		    country: 1,
		    area: 904,
		    number: 7377900
		  },
		  serviceAddress: {
		    country: "USA",
		    state: "FL",
		    city: "Ponte Vedra",
		    street_address: "90 Fort Wade Road, Suite 200",
		    zip: 94108
		  },
		  billingAddress: {
		    country: "USA",
		    state: "FL",
		    city: "Ponte Vedra",
		    street_address: "90 Fort Wade Road, Suite 200",
		    zip: 94108
		  },
		  truxDB: "Ponte Vedra",
		  truxAccountID: 987654321,
		  truxSiteID: 654321,
		  dynamicsID: 456789
		}]]></ee:set-payload>
		            </ee:message>
		        </ee:transform>
            </when>
            <otherwise>
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Not found" >
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>
    <flow name="post:\customers:application\json:ads-mule-gateway-experience-config">
		<logger level="INFO" message="post:\customers:application\json:ads-mule-gateway-experience-config" />
    </flow>
    <flow name="get:\payments\(customerID):ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\payments\(customerID):ads-mule-gateway-experience-config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="c79c2174-4a6b-4e0e-ba55-756048d29646" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "customerID": 14782369,
  "cardsPayments": [
    {
      "cardData": {
        "cardHoldersName": "TXXXXX B SXXXXXX",
        "cardNumber": "XXXX XXXX XXXX 4163",
        "expirationDate": {
          "mount": 0,
          "year": 0
        },
        "verificationCode": 0,
        "paymentID": 852369
      },
      "billingAddressID": 753951
    }
  ]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\payments\(customerID)\card\(paymentID):ads-mule-gateway-experience-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
                <ee:set-variable variableName="paymentID">attributes.uriParams.paymentID</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\payments\(customerID)\card\(paymentID):ads-mule-gateway-experience-config" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="368afaaa-bdf5-44b5-b773-051683953329" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "cardData": {
    "cardHoldersName": "TXXXXX B SXXXXXX",
    "cardNumber": "XXXX XXXX XXXX 4163",
    "expirationDate": {
      "mount": 0,
      "year": 0
    },
    "verificationCode": 0,
    "paymentID": 852369
  },
  "billingAddressID": 753951
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\payments\(customerID)\card:application\json:ads-mule-gateway-experience-config">
        <choice doc:name="Choice" >
            <when expression="#[(attributes.headers.client_id == vars.client_id_magic) and (attributes.headers.client_secret == vars.client_secret_magic)]">
		        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
		            <ee:variables>
		                <ee:set-variable variableName="customerID">attributes.uriParams.customerID</ee:set-variable>
		            </ee:variables>
		        </ee:transform>
                <flow-ref doc:name="postPayment-subflow"  name="postPayment-subflow" />
            </when>
            <otherwise>
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Unauthorized" >
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
401]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="postPayment-subflow">
    
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="4ce5f0fb-4ba9-43e6-add1-0ba9db34ed2c">
            <ee:variables>
                <ee:set-variable variableName="customerID"><![CDATA[attributes.uriParams.customerID]]></ee:set-variable>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	"Content-Location": (attributes.headers.origin as String) ++ "/api/payments/" ++ vars.customerID ++ "/card/" ++ "852369"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\payments\(customerID)\card:application\json:payment-exp-api-config" />
    </sub-flow>
</mule>
